<html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div class="mt-2">
    <h1>Home</h1>
    <div>
      <div>
        <a href="./profile"><button class="btn btn-primary m-3">Perfil</button></a>
        <a href="./productos"><button class="btn btn-primary m-3">Productos</button></a>
        <a href="./carrito"><button class="btn btn-primary m-3">Carrito</button></a>
      </div>
      <div>
        <a href="./logout"><button class="btn btn-primary m-3">Logout</button></a>
      </div>
    </div>
  </div>
</body>

</html>