<h1>Login</h1>
<form action="/login" method="post">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="password" name="password" id="password" placeholder="Contraseña">
  <button type="submit">Login</button>
</form>