<h1>Productos</h1>
<ul id="productos">

</ul>
<script>
  function createNode(element) {
      return document.createElement(element);
    }

    function append(parent, el) {
      return parent.appendChild(el);
    }

    const popularProductos = () => {
      //Obtener lista a popular
      const ul = document.getElementById('productos');
      //Ruta para consultar
      const url = 'productos/listar';

      fetch(url)
        .then((resp) => resp.json())
        .then((data) => {
          let productos = data.productos;
          return productos.map(function (producto) {
            let li = createNode('li');
            let button = createNode('button');
            let span = createNode('span');
            span.innerHTML = producto.nombre;
            append(li, span);
            append(li, button);
            append(ul, li);
          })
        })
        .catch(function (error) {
          console.log(error);
        });
    }

    popularProductos();
    
</script>