<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <h1>Perfil</h1>
    <div class="text-center mt-3">
      <h3>Usuario:</h3>
      <h4><%= user.email %></h4>
      <h3>Nombre:</h3>
      <h4><%= user.nombre %></h4>
      <h3>Telefono:</h3>
      <h4><%= user.telefono %></h4>
      <a href='./logout'><button class="btn btn-primary mt-3">Logout</button></a>
      <a href='./home'><button class="btn btn-primary mt-3">Home</button></a>
    </div>
  </div>
</body>

</html>