<h1>Perfil</h1>
<div>  
  <h3>Usuario: <%= user.email %></h3>
  <h3>Nombre: <%= user.nombre %></h3>
  <h3>Edad:<%= user.edad %></h3>
  <img width='100px' heigth='100px' src= <%= user.fotoURL %>>
  <a href='./logout'><button>Logout</button></a>
</div>