<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex flex-column align-items-center">
    <h1>Registro</h1>
    <form action="/signup" method="post" onsubmit="return validateForm()">
      <div class="form-group mt-2 mb-2">
        <label for="nombre">Nombre</label>
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre completo">
      </div>
      <div class="form-group mt-2 mb-2">
        <label for="telefono">Telefono</label>
        <input class="form-control" type="text" name="telefono" id="telefono" placeholder="Telefono">
      </div>
      <div class="form-group mt-2 mb-2">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Email">
      </div>
      <div class="form-group mt-2 mb-2">
        <label for="password">Contrase単a</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Contrase単a">
      </div>
      <div class="form-group mt-2 mb-2">
        <label for="password2">Repetir contrase単a</label>
        <input class="form-control" type="password" name="password2" id="password2" placeholder="Repetir contrase単a">
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary mt-3">Registrarse</button>
    </form>
  </div>
</body>
<script>
  const submitBtn = document.getElementById('submitBtn');
  const passwordInput = document.getElementById('password');
  const password2Input = document.getElementById('password2');
  const nombreInput = document.getElementById('nombre');
  const telefonoInput = document.getElementById('telefono');
  const emailInput = document.getElementById('email');

  const validatePwd = () => {
    const pw1value = passwordInput.value;
    const pw2value = password2Input.value;
    return pw1value == pw2value;
  }

  const validateForm = () =>{
    const nameHasValue = nombreInput.value != '';
    const emailHasValue = emailInput.value != '';
    const validFields = nameHasValue && emailHasValue && validatePwd();
    if (!validFields) alert('Faltan datos');
    return validFields;
  }
</script>
</html>
