<h1>Registro</h1>
<form action="/signup" method="post">
  <input type="email" name="email" id="email" placeholder="Email">  
  <input type="password" name="password" id="password" placeholder="Contraseña">
  <input type="text" name="nombre" id="nombre" placeholder="Nombre">
  <input type="text" name="direccion" id="direccion" placeholder="Direccion">
  <input type="text" name="edad" id="edad" placeholder="Edad">
  <input type="text" name="telefono" id="telefono" placeholder="Telefono">
  <input type="text" name="fotoURL" id="fotoURL" placeholder="URL foto">
  <button type="submit">Registrarse</button>
</form>